body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 4vh;
    text-align: center;
  }
  
  p {
    font-size: 6vh;
  }
  
  #qr {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin-top: 20vh;
    margin-left: 35vw;
  }
  
  #caja {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  
  h1 {
    text-align: center;
    width: 100vw;
    font-size: 8vh;
  }
  
  .prod_pago {
    font-size: 5vh;
    background-color: #EBDCF0;
    border-radius: 10px;
    width: 80vw;
    margin-left: 10vw;
    padding: 1vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    align-items: center;
  }
  
  .prod_pago img {
    max-height: 15vh;
  }
  
  #back {
    position: absolute;
    top: 4vw;
    left: 10vh;
  }
  
  #pago {
    display: grid;
    grid-template-rows: 0.2fr 5fr  2fr 2fr ;
  }
  .contenedor-imagen {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100%; /* Ajustar la altura del contenedor */
  }
  #boton_pago{
    background-color:#875b96 ;
    margin-top: 1vh;
    border-radius: 10px;
  }